
.label{
    -fx-background-color: transparent;
    -fx-text-fill: #8E771B;
    -fx-alignment: center-right;
}

.pane{
    -fx-background-color: #0D1447;
}

.button{
    -fx-text-fill: white;
    -fx-background-color: #8E771B;
}
#connectbutton{
    -fx-font-size: 40px;
}
.button:hover{
    -fx-cursor: hand;
    -fx-background-color: #7D660A;
    -fx-text-fill: #0D1447;
}
#url{    -fx-font-size: 20px;  }
#user{    -fx-font-size: 20px;  }
#password{    -fx-font-size: 20px;  }

.text-field{
    -fx-font-family: 'Luckiest Guy', cursive;
    -fx-background-color: #8E771B;
    -fx-text-fill: #0D1447;
}
.choice-box{
    -fx-font-family: 'Luckiest Guy', cursive;
    -fx-font-size: 20px;
    -fx-background-color: #0C0335;
}

#warning{
    -fx-alignment: center;
    -fx-font-size: 20px;
}
#confirmchoice{
    -fx-font-size: 24px;
}
#name{
    -fx-font-family: sans-serif;
}

.table-view{
    -fx-alignment: center;
    -fx-text-fill: black;

}
.table-view .column-header-background{
    -fx-background-color: #7D660A;
    -fx-alignment: center;
    -fx-text-fill: #0D1447;

}
.table-view .column-header-background .label{
    -fx-alignment: center;
    -fx-background-color: transparent;
    -fx-text-fill: #0D1447;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-background-color: transparent;
    -fx-alignment: center;
    -fx-text-fill: #7D660A;
}
.table-row-cell {
    -fx-cell-size: 60px;
}
#info{
    -fx-alignment: center;
}